.Search {
  background: url(https://cdnn21.img.ria.ru/images/91239/72/912397284_0:167:3200:1967_1920x0_80_0_0_73d171523aed94c68fba7e3cd4d718ad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  position: relative;
}

